<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Budget</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'budget/style.css' %}">
</head>
<body>
    <h1>Money Table</h1>
    <div>
        <a href="/login"><button id="login">Login</button></a>
        <a href="/logout"><button id="logout">Logout</button></a>
    </div>
    <div>
        <a href="/bank/create"><button id="button1">Add Bank</button></a>
    </div>
    <table id="table2">
        <tr>
            <th>Name</th>
            <th>Balance</th>
        </tr>
        {% for collumn in object_list%}
        <tr>
            <td>{{collumn.name}}</td>
            <td>{{collumn.balance}}</td>
            <td><a href="/bank/{{collumn.id}}/delete/">Delete {{collumn.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href="/">BACK</a>
    </div>
</body>
</html>